body{
	margin: 0;
	background-color: #001D32;
	height: 1036px;
}
@font-face{
	font-family: Okta-Neue-UltraLight;
	src: url(Okta-Neue-UltraLight.ttf);
}
header{
	padding-left: 46px;
	padding-right: 46px;
	background-color: #001D32;
	opacity: .5;
	z-index: 100;
	position: absolute;
	width: 100%;
}
header a{
	margin-top: 5px;
	margin-left: 25px;
}

.image{
	background-image: url(3/photo_2018-11-02_11-43-55.png);
	width: 375px;
	height: 329px;
	z-index: 99;
	
}
.event__info{
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 200px;
	margin-top: -230px;
	height: 100vh;
	background-image: url(Rectangle1@2x.png);
}
.event__info p{
	width: 164px;
	height: 63px;
	text-align: left;
	font-family: Okta-Neue-UltraLight;
	font-size: 19px;
	letter-spacing: 0;
	color: #E9EAEA;
	opacity: 1;
 }
 .event__info h3{
	text-align: left;
	font-family: Okta-Neue-UltraLight;
	font-size: 15px;
	letter-spacing: 0;
	word-spacing: 2px;
	color: #E9EAEA;
	opacity: .8;
 }
 .form__btn1{
	margin-left: 25%;
	font-size: 16px;
	font-weight: 700;
	background: transparent;
	width: 115px;
	height: 32px;
	color: #fff;
	cursor: pointer;
	outline: none;
	font-family: Okta-Neue-UltraLight;
	letter-spacing: 0px;
	opacity: .8;
	border: 1px solid #94427F
}
.form__btn1:hover{
	background-color: #fff;
	opacity: .7;
	color: #94427F;
}
.event__info h4{
	text-align: left;
	font-family: Okta-Neue-UltraLight;
	font-size: 15px;
	letter-spacing: 0.07px;
	color: #FAFAFA;
	opacity: .8;
	margin-left: 15px;

}
.form__btn{
	text-align: center;
	font-weight: 700;
	background: #95427F 0% 0% no-repeat padding-box;
	border-radius: 30px;
	width: 115px;
	height: 35px;
	color: #fff;
	margin-left:100px;
	cursor: pointer;
	outline: none;
	font-family: Okta-Neue-UltraLight;
	letter-spacing: 0px;
	margin-left: 30%;
	opacity: .8;
	border: 1px solid #95427F

}
.form__btn:hover{
	background-color: #fff;
	opacity: .7;
	color: #94427F;
}
#box{
	margin: 30px auto;
}
