body{
	margin: 0;
	background-color: #001D32;
	height: 760px;
}
@font-face{
	font-family: Okta-Neue-UltraLight;
	src: url(Okta-Neue-UltraLight.ttf);
}
header{
	padding-left: 46px;
	padding-right: 46px;
	background-color: #001D32;
	opacity: .5;
	z-index: 100;
	position: absolute;
	width: 100%;
}
header a{
	margin-top: 5px;
	margin-left: 25px;
}

.image{
	background-image: url(3/photo_2018-11-02_11-43-55.png);
	width: 375px;
	height: 329px;
	z-index: 99;	
}
.event__info{
	padding-right: 45px;
	padding-left: 45px;
	padding-top: 100px;
	margin-top: -350px;
	height: 100vh;
	background-image: url(Rectangle1@2x.png);
}
.event__info h2{
	width: 175px;
	height: 28px;
	text-align: left;
	font-family: Okta-Neue-UltraLight;
	font-size: 20px;
	letter-spacing: 0;
	color: #EAEAEA;
	opacity: .8;
}
.event__info p{
	width: 224px;
	height: 44px;
	text-align: left;
	font-family: Okta-Neue-UltraLight;
	font-size: 16px;
	letter-spacing: 0;
	color: #EAEAEA;
	opacity: .8;
}
hr {
    border: none;
    background-color: #FAFAFA; 
    color: #FAFAFA; 
    height: 1px; 
    opacity: .5;
}
.form__btn{
	text-align: center;
	font-weight: 700;
	background: #95427F 0% 0% no-repeat padding-box;
	border-radius: 30px;
	width: 115px;
	height: 35px;
	color: #fff;
	margin-left:100px;
	cursor: pointer;
	outline: none;
	font-family: Okta-Neue-UltraLight;
	letter-spacing: 0px;
	margin-left: 30%;
	opacity: .8;
	border: 1px solid #95427F

}
.form__btn:hover{
	background-color: #fff;
	opacity: .7;
	color: #94427F;
}