html{
	padding-left: 0;

}
body{
	width: 100%;
	background-color: #fff;
	overflow-x: hidden;
	font-family: 'Pacifico', cursive;
}
.bang{
	width: 100%;
	height: 1000px;
	background-color: pink;
}
.pink p{
	font-size: 200px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 0px;
	opacity: .6;
	z-index: -9999;
}
.pink{
	padding-top: 50px;
}
.pink h3{
	font-size: 30px;
	text-align: center;
}
